body{
    background-attachment: fixed;
    background-image: url(../assets/images/wave.svg);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

h1{
    background-image: linear-gradient(var(--main-color),var(--secondary-color));
    border-radius: 15px;
    color: whitesmoke;
    padding: 1rem 3rem;
    width: fit-content;
    font-size: 3rem;
    display: none;
    cursor: pointer;
}

main{
    display: none;
}

main section{
    background-color: rgba(255, 255, 255, 0.7) !important;
    
}

main #categories , main #difficulties, main #amount{
    outline: none;
    transition: 0.5s;
    cursor: pointer;
    background-color: var(--bg-semi-transparent);
}

main #categories:focus,
main #difficulties:focus,
main #amount:focus{
    border-color: transparent;
    box-shadow: 0 0 0 0.15rem var(--main-color);
}

main button{
    border: 2px solid var(--main-color);
    background-color: var(--bg-semi-transparent);
    color: var(--main-color);
    transition: 0.5s;
    width: fit-content;
    padding: 8px 26px;
    font-size: 18px;
    font-weight: bold;
}
main button:hover{
    border-color: 2px solid transparent;
    background-color: var(--main-color);
    color: whitesmoke;
}

.btn-disabled{
    pointer-events: none;
    background-color: var(--main-color);
    color: white;
}


/*///////////////////////QUESTIONS////////////////////////*/

main #questions, main #error-message{
    display: none;
}

main #error-message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--error-color);
}

main .radioBtns{
    width: 15px;
    height: 15px;
}

main #answers label{
    margin-left: 5px;
}

.radioBtns:after {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    transform: translateY(-7px);
    position: relative;
    background-color: var(--bg-diabled);
    content: '';
    display: inline-block;
    visibility: visible;
    border: var(--bg-diabled) 3px solid;
    outline: var(--main-color) 2px solid;
    transition: 0.3s;
}

.radioBtns:checked:after {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    transform: translateY(-7px);
    position: relative;
    background-color: var(--secondary-color);
    content: '';
    display: inline-block;
    visibility: visible;
    border: white 3px solid;
    outline: var(--main-color) 2px solid;
}


/*//////////////////////////////////////////////////////////////////*/



#overlay {
    background-color: rgba(0, 0, 0, 0.5) !important;
    display: none;
}

#overlay .card{
    background-image: linear-gradient(var(--main-color),var(--secondary-color));
    color: whitesmoke;
}

#overlay .card-header{
    border-bottom: 2px solid whitesmoke;
    border: none;
    position: relative;
}
#overlay .card-header::after{
    content: "";
    position: absolute;
    left: 8px;
    right: 8px;
    bottom: 0;
    height: 2px;
    background-color: whitesmoke;
}

#overlay .card-body button{
    border: 2px solid whitesmoke;
    background-color: transparent;
    color: whitesmoke;
    transition: 0.5s;
    width: fit-content;
    padding: 8px 26px;
    font-size: 18px;
    font-weight: bold;
}


#overlay .card-body button:hover{
    border-color: 2px solid transparent;
    background-color: var(--main-color);
    color: whitesmoke;
}

#overlay h5 span{
    padding: 5px 10px;
    background: whitesmoke;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 0.5rem;
    color: black;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}